<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0287150E65EBAC193098A906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032052CF2196FF748344C947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ECB74033E1E7FBD0683250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0784B75B0604B4463CFDF657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D85833BAAED4285DC54708C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CCC2DF82A1ADF9C3505BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5A21E7503B7770C043E6F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5907FD8792A33FC11722A828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F53699237F1DEA3CBB7A333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F702517370E4FE61195562B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B32D0C285D70FAA7496DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69AFCC1BB2FAD66BBB07C544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F35F62A142A08D5D90A5D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7660BC086B370ADE825247F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B2DFF73E4B0F606AB8242E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79604B84E9CB1530E8F43CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B45D08B7174A9D4014E2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>805C4A3CEE44CB94D38921F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838AD01158271C5246F7BF81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F452C6C63A68BED422B859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89BBCE326625EE59E3A73571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BEE0E269F479B5665457A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA48265A90DA7892EB867BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A3618D4B2BCA71E0A7E5BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF08EF48211610B5350BF9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0125BFD5A65C2E940A3E737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A102E7D80F9E7D792F8CE5B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6A33DA98FE5D8077C4F1874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACED42D64AC882780A63AD15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC0E3285CE295E00F7E3D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E221621C7B79AEF50F7F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C60C0BD2CAB32D0587D297AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2C4FF22BEC6A28C8D751494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3FB0CAE923ADB385394D920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5CF0E6C00E293F376943D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3C2E12F8D54B4CCB6EE8C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE081979FFDC41CB7D489EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C20B61252450E2276D2A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
